<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>用户角色</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.5/css/layui.css}" media="all">
</head>
<body>
<div class="layui-container layui-side-scroll" style="margin: 0; width: 100%; padding: 5px 15px;">
    <div class="layui-row">
        <div class="layui-col-lg12">
            <table id="demo" lay-filter="test"></table>
        </div>
    </div>
</div>
<script th:src="@{/webjars/layui/2.5.5/layui.js}"></script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addBtn">申请物资</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script th:inline="javascript">
    //JavaScript代码区域
    layui.use(['element', 'layer', 'table'], function () {
        let element = layui.element;
        let table = layui.table;
        let layer = layui.layer;
        let $ = layui.jquery;
        var planid=[[${id}]];

        //第一个实例
        let userTable = table.render({
            id: 'maintenanceResId'
            , elem: '#demo'
            , title: "维护物资"
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '获取'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , url: [[${#servletContext.getContextPath()}]] + '/maintenanceRes/resApply/list?id='+planid //数据接口
            , cols: [
                [ //表头
                    {field: 'id', title: '编号', width: '10%', fixed: 'left', align: 'center'}
                    , {field: 'implplanid', title: '申请养护计划Id', width: '20%'}
                    , {field: 'applytime', title: '申请时间', width: '10%'}
                    , {field: 'applierid', title: '申请者id', width: '15%'}
                    , {field: 'resid', title: '物资id', width: '15%'}
                    , {field: 'resourcename', title: '物资名称', width:'10%' }
                    , {field:  'resnum', title: '申请数量', width: '10%'}
                    , {field: 'purpose', title: '申请目的', width: '20%'}
                    , {field: 'auditstate', title: '审核状态', width: '10%'}
                    , {field: 'resallocatedtime', title: '分配时间', width: '20%'}
                    , {field: 'description', title: '描述', width: '20%'}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 200, align: "center"}
                ]
            ]
        });

        table.on('toolbar(test)', function (obj) {
            let checkStatus = table.checkStatus(obj.config.id);
            let data;
            switch (obj.event) {
                case 'addBtn':
                    layer.open({
                        type: 2,
                        title: '申请物资',
                        shadeClose: true,
                        shade: 0.8,
                        offset: '30px',
                        area: ['100%', '100%'],
                        content: [[${#servletContext.getContextPath()}]] + '/maintenanceRes/resApply/add/index?planid='+planid//iframe的url
                    });
                    console.log("阻塞完成");
                    authorityTable.reload({page: {curr: 1}});
                    break;
            }
        });
        table.on('tool(test)', function (obj) {
            let data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('确认删除？', function (index) {

                    $.ajax({
                        url: [[${#servletContext.getContextPath()}]] + "/maintenanceRes/resApply/del",
                        data: {id: data.id},
                        dataType: "json",
                        success: function (message) {
                            layer.closeAll('loading');
                            obj.del();

                            layer.msg(message.msg, {
                                icon: 1,
                                time: 1500 //2秒关闭（如果不配置，默认是3秒）
                            });
                        },
                        error: function (message) {
                            console.log(JSON.stringify(message));
                            layer.msg("删除失败", {
                                icon: 2,
                                time: 1500
                            });
                        }
                    });
                    layer.close(index);
                    layer.load();
                });
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    title: '修改计划',
                    shadeClose: true,
                    shade: 0.8,
                    offset: '30px',
                    area: ['85%', '69%'],
                    content: [[${#servletContext.getContextPath()}]] + '/maintenanceRes/resApply/add/index?planid='+planid+'&id='+data.id//iframe的url
                });
                console.log("阻塞完成");
                authorityTable.reload({page: {curr: 1}});
            }
        });
    });
</script>
</body>
</html>
