<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>养护计划管理</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.5/css/layui.css}" media="all">
</head>
<body>
<div class="layui-container layui-side-scroll" style="margin: 0; width: 100%; padding: 5px 15px;">
    <div class="layui-row">
        <div class="layui-col-lg12">
            <table id="demo" lay-filter="test"></table>
        </div>
    </div>
    <div class="layui-row">

    </div>
</div>
<script th:src="@{/webjars/layui/2.5.5/layui.js}"></script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addAuthBtn">添加计划</button>

    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script th:inline="javascript">
    //JavaScript代码区域
    layui.use(['element', 'layer', 'table'], function () {
        let element = layui.element;
        let table = layui.table;
        let layer = layui.layer;
        let $ = layui.jquery;

        //第一个实例
        let maintenanceTable = table.render({
            id: 'maintenanceTableId'
            , elem: '#demo'
            , title: "养护计划列表"
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '获取'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , url: [[${#servletContext.getContextPath()}]] + '/maintenance/list' //数据接口
            , page: true //开启分页
            , cols: [
                [ //表头
                    {field: 'id', title: '编号', width: '12%', fixed: 'left', align: 'center'}
                    , {field: 'projectid', title: '工程编号', width: '12%',align: 'center' }
                    , {field: 'name', title: '工程名称', width: '20%',align: 'center'}
                    , {field: 'starttime', title: '开始时间', width: '15%', align: 'center'}
                    , {field: 'expectedendtime', title: '预计结束时间', width: '15%',align: 'center' }
                    , {field: 'actualendtime', title: '实际结束时间', width: '15%', align: 'center'}
                    , {field: 'purpose', title: '养护目的', width: '13%', align: 'center'}
                    , {field: 'planstate', title: '计划状态', width: '10%', align: 'center'}
                    , {field: 'description', title: '描述', width: '20%', align: 'center'}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150, align: "center"}

                ]
            ]
        });

        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            let data;
                    layer.open({
                        type: 2,
                        title: '添加计划',
                        shadeClose: true,
                        shade: 0.8,
                        offset: '30px',
                        area: ['85%', '69%'],
                        content: [[${#servletContext.getContextPath()}]] + '/maintenance/add/index' //iframe的url
                    });
                    console.log("阻塞完成");
                    authorityTable.reload({page: {curr: 1}});
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            let data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('确认删除？', function (index) {

                    $.ajax({
                        url: [[${#servletContext.getContextPath()}]] + "/auth/del",
                        data: {authId: data.id},
                        dataType: "json",
                        success: function (message) {
                            layer.closeAll('loading');
                            obj.del();

                            layer.msg(message.msg, {
                                icon: 1,
                                time: 1500 //2秒关闭（如果不配置，默认是3秒）
                            });
                        },
                        error: function (message) {
                            console.log(JSON.stringify(message));
                            layer.msg("删除失败", {
                                icon: 2,
                                time: 1500
                            });
                        }
                    });
                    layer.close(index);
                    layer.load();
                });
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    title: '修改计划',
                    shadeClose: true,
                    shade: 0.8,
                    offset: '30px',
                    area: ['85%', '69%'],
                    content: [[${#servletContext.getContextPath()}]] + '/maintenance/add/index?'+'id='+data.id//iframe的url
                });
                console.log("阻塞完成");
                authorityTable.reload({page: {curr: 1}});
            }
        });

        //监听单元格编辑
        table.on('edit(test)', function (obj) {
            let value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);
        });


    });
</script>
</body>
</html>