<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.5/css/layui.css}" media="all">
</head>
<body>

<div class="layui-form layui-container" style="padding:15px 30px 15px 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">物资：</label>
        <div class="layui-input-block">
            <select name="resid" lay-filter=''>
                <option value="">请选择</option>
                <option th:each="t : ${resource}"
                        th:selected="${maintenanceplanResApply?.getResid() == t?.getId()}"
                        th:value="${t.getId()}"
                        th:text="${ t.getName() }"></option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">数量：</label>
        <div class="layui-input-block">
            <input type="text" th:value="${maintenanceplanResApply.getResnum()}" name="resnum" required lay-verify="required" autocomplete="off"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">目的：</label>
        <div class="layui-input-block">
            <input type="text" th:value="${maintenanceplanResApply.getPurpose()}" name="purpose" required lay-verify="required" autocomplete="off"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input type="text"  name="description"
                   th:value="${maintenanceplanResApply.getDescription()}" required lay-verify="required" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="addMaintenanceResApply">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</div>

<script th:src="@{/webjars/layui/2.5.5/layui.js}"></script>

<script th:inline="javascript">
    layui.use(['form', 'layer'], function () {
        let form = layui.form;
        let layer = layui.layer;
        let $ = layui.jquery;
        var flag=[[${type}]];

        //监听提交
        form.on('submit(addMaintenanceResApply)', function (data) {
            layer.msg(JSON.stringify(data.field));
            console.log(flag);
            var maintenanceurl;
            if(flag===0)
                maintenanceurl=[[${#servletContext.getContextPath()}]] + "/maintenanceRes/resApply/add?planid="+[[${planid}]];
            else
                maintenanceurl=[[${#servletContext.getContextPath()}]] + "/maintenanceRes/resApply/update?id="
                    +[[${maintenanceplanResApply.getId()}]]+"&planid="+[[${planid}]];
            $.ajax({
                type: "POST",
                url: maintenanceurl,
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(data.field),
                dataType: "json",
                success: function (message) {
                    layer.closeAll('loading');
                    layer.msg(message.msg, {
                        icon: 1,
                        time: 1500 //2秒关闭（如果不配置，默认是3秒）
                    }, function () {
                        // 当你在iframe页面关闭自身时
                        let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                    });
                },
                error: function (message) {
                    console.log(JSON.stringify(message));
                    layer.msg("添加失败", {
                        icon: 2,
                        time: 1500
                    });
                }
            });
            layer.load();
            return false; // 禁用页面跳转
        });
    });
</script>

<!--select js-->

</body>
</html>